<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.admin.mapper.FeeValueMapper">

    <select id="selectListByApartmentId" resultType="com.atguigu.lease.web.admin.vo.fee.FeeValueVo">
        select fee_value.id,
               fee_value.name,
               fee_value.unit,
               fee_value.fee_key_id,
               fee_key.name fee_key_name
        from fee_value
                 join fee_key
                     on fee_value.fee_key_id = fee_key.id
        where fee_value.is_deleted = 0 and fee_key.is_deleted = 0
          and fee_value.id in (select fee_value_id
                               from apartment_fee_value
                               where is_deleted = 0
                                 and apartment_id = #{id})
    </select>
</mapper>
