<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.ApartmentInfoMapper">


    <select id="selectApartmentById" resultType="com.atguigu.lease.model.entity.ApartmentInfo">
        select id,
               name,
               introduction,
               district_id,
               district_name,
               city_id,
               city_name,
               province_id,
               province_name,
               address_detail,
               latitude,
               longitude,
               phone,
               is_release,
               is_deleted
        from apartment_info
        where id = #{id}
    </select>
</mapper>
